<h1 class="title is-2"><%= @restaurant.name %></h1>
<h1 class="subtitle is-3"><%= @restaurant.cuisine %></h1>


<div class="field is-grouped">
    <div class="mr-2">
    <%= link_to 'Edit', edit_restaurants_path(@restaurant), class: "button is-warning " %>
    </div>
    <div class="mr-2">
    <%= button_to 'Delete', @restaurant, class: "button is-danger", method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete '#{@restaurant.name}' Restaurant?" } } %>
    </div>
</div>
